.content{
    box-shadow: 0 -4px 38px hsl(0deg 0% 100% / 28%), 0 15px 40px rgb(207 216 226 / 71%);
    background: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 5%;
}
.back-button .back {
    max-height: 25px;
    margin: -5px 10px 0 0;
    width: 30px;
}
.detailcontent {
    box-shadow: 0 -4px 38px hsl(0deg 0% 100% / 28%), 0 15px 40px rgb(207 216 226 / 71%);
    /* background: rgb(255,111,145);
    background: linear-gradient(13deg, rgba(255,111,145,1) 6%, rgba(255,150,113,1) 47%, rgba(255,245,95,0.9136029411764706) 90%); */
    background: rgb(255,111,145);
    background: linear-gradient(175deg, rgba(255,111,145,1) 2%, rgba(255,150,113,1) 42%, rgba(255,199,95,1) 85%);
    padding: 30px 30px;
    border-radius: 5px;
}
.hr-title {
    border-top: 3px solid #2231ff;
    width: 30px;
    margin-left: 0;
    margin-bottom: 0px;
}
.title-reward {
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb(10, 6, 6);
}
.border-mitrais 
{
   border-color: #9966ff;
   margin-left: 4%;
   margin-top: 5%;
   margin-right: 4%;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 4%;
    width: 100%;
    color: white;
    text-align: center;
}
.font-orange {
    color: #FC7A1E;
}
.font-grape {
    color: #fff
}